body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.introtext {
    font-size: 18pt;
    padding: 15px;
}

.btable {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.tableheader {
    font-size: 14pt;
    width: 22.5%;
    border: 1px solid black;
    padding: 1%;
}

.tableitem {
    font-size: 12pt;
    width: 22.5%;
    border: 1px solid black;
    padding: 1%;
}